# Your Shotstack API key: https://dashboard.shotstack.io
SHOTSTACK_API_KEY=

# Your Hedra API key, in the form key_id:secret: https://hedra.com
HEDRA_API_KEY=

# A public link to the portrait image
HEDRA_IMAGE_URL=

# A public link to the voice recording
HEDRA_AUDIO_URL=

# Optional. The text on the end card.
END_CARD=

# Optional. Set to stage for free watermarked test renders.
SHOTSTACK_ENV=
