# Your Shotstack API key: https://dashboard.shotstack.io
SHOTSTACK_API_KEY=

# Your Rime API key: https://rime.ai
RIME_API_KEY=

# A public link to the video you want to dub
SOURCE_VIDEO=

# Optional. Another Rime model: https://docs.rime.ai
RIME_MODEL=

# Optional. Set to stage for free watermarked test renders.
SHOTSTACK_ENV=
